body {
  font-family: "Montesserat";
}
h1 {
  color: #C80004;
  font-size: 32px;
}

.top-menu {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.top-menu .img {
  display: block;
  max-width: 120px;
  max-heigh: 120px;
}

.top-menu span {
  display: inline;
}

.colours {
  border: dashed 1px black;
  padding: 10px;
  margin: 10px;
  }
ul.samples {
  padding: 5px;
  margin: 10px;
}
.colour-menu {
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  display: block;
}
#Templates {
  background-color: #C80004;
  margin: 0 0 3px 0;
  padding: 30px 40px;
  width: 200px;
  list-style: none;
  text-align: center;
  display: inline-block;
}
#WebsiteDesign {
  background-color: #e46c2b;
  margin: 0 0 3px 0;
  padding: 30px 40px;
  width: 200px;
  list-style: none;
  text-align: center;
  display: inline-block;
}
#DatabaseDevelopment {
  background-color: #1b4b23;
  margin: 0 0 3px 0;
  padding: 30px 40px;
  width: 200px;
  list-style: none;
  text-align: center;
  display: inline-block;
}


