body {
  font-family: Garamond;
}
h1 {
  color: red;
  font-size: 32px;
}

nav span {
  display: inline;
  padding-right: 2rem;
}
nav span:last-child {
  padding-right: 0;
}
ul .menu li {
  display: inline-block;
  list-style: none;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 0 3px 0 0;
  color: black;
  font-size: 26px;
  letter-spacing: 2px;
  font-weight: 700
}
ul .menu li .Templates {
  background-color: red;
}
ul .menu li .WebsiteDesign {
  background-color: orange;
}
ul .menu li .DatabaseDevelopment {
  background-color: green;
}

